[Desktop Entry]
Name=Adventure
Name[az]=Macəra
Name[bg]=Приключение
Name[cs]=Dobrodružné
Name[da]=Eventyr
Name[de]=Abenteuer
Name[eo]=Aventuroj
Name[es]=Aventura
Name[et]=Seiklusmängud
Name[fi]=Seikkailu
Name[fr]=Aventure
Name[he]=תואקתפרה
Name[hu]=Kalandjátékok
Name[is]=Ævintýri
Name[it]=Avventura
Name[ja]=アドベンチャー
Name[ko]=모험
Name[lt]=Nuotykiai
Name[lv]=Piedzīvojums
Name[mt]=Avventura
Name[nl]=Avontuur
Name[no]=Eventyr
Name[no_NY]=Eventyr
Name[pl]=Przygoda
Name[pt_BR]=Aventura
Name[pt]=Aventura
Name[ro]=Aventură
Name[ru]=Приключение
Name[sk]=Adventúry
Name[sl]=Pustolovščina
Name[sr]=Avanture
Name[sv]=Äventyr
Name[th]=เกมผจญภัย
Name[tr]=Macera
Name[uk]=Пригоди
Name[vi]=Mạo hiểm 
Name[xh]=Ulwazi oluvuyisayo
Name[zh_CN.GB2312]=冒险
Name[zh_TW.Big5]=冒險
Icon=package_games

