[Desktop Entry]
Name=Board
Name[az]=Lövhə
Name[bg]=Табло
Name[cs]=Deska
Name[da]=Bræt
Name[de]=Brettspiel
Name[eo]=Breto
Name[es]=Tablero
Name[et]=Lauamängud
Name[fi]=Lauta
Name[fr]=Plateau
Name[he]=חול
Name[hu]=Táblajátékok
Name[is]=Borð
Name[it]=Tabellone
Name[ja]=ボード
Name[ko]=보드
Name[lt]=Stalas
Name[lv]=Galds
Name[mt]=Bord
Name[nl]=Bord
Name[no]=Brett
Name[no_NY]=Brett
Name[pl]=Plansza
Name[pt_BR]=Tabuleiro
Name[pt]=Tabuleiro
Name[ro]=Table
Name[ru]=Доска
Name[sk]=Doska
Name[sl]=Plošča
Name[sr]=Tabla
Name[sv]=Brädor
Name[ta]=§Á¨¼
Name[th]=เกมกระดาน
Name[tr]=Tahta
Name[uk]=На дошці
Name[vi]=Bảng 
Name[xh]=Ibhodi
Name[zh_CN.GB2312]=棋盘
Name[zh_TW.Big5]=棋類
Icon=package_games_board

