[Desktop Entry]
Name=Card
Name[az]=Kart
Name[bg]=Карта
Name[br]=Kart
Name[cs]=Karta
Name[da]=Kort
Name[de]=Kartenspiel
Name[eo]=Karto
Name[es]=Carta
Name[et]=Kaardimängud
Name[fi]=Kortti
Name[fr]=Cartes
Name[he]=םיפלק
Name[hu]=Kártyajátékok
Name[is]=Spil
Name[it]=Carta
Name[ja]=カード
Name[ko]=카드
Name[lt]=Korta
Name[lv]=Karte
Name[mt]=Karta
Name[nl]=Kaart
Name[no]=Kort
Name[no_NY]=Kort
Name[pl]=Karta
Name[pt_BR]=Cartas
Name[pt]=Cartas
Name[ro]=Cărţi
Name[ru]=Карта
Name[sk]=Karta
Name[sl]=Karta
Name[sr]=Karta
Name[sv]=Kort
Name[ta]=º£ðÎ
Name[th]=เกมไพ่
Name[tr]=Kart
Name[uk]=Карткові
Name[vi]=Thẻ 
Name[xh]=Ikhadi
Name[zh_CN.GB2312]=牌
Name[zh_TW.Big5]=紙牌
Icon=package_games_card

