[Desktop Entry]
Name=Emulators
Name[az]=Emulyatorlar
Name[bg]=Емулатори
Name[cs]=Emulátory
Name[da]=Emulatorer
Name[de]=Emulatoren
Name[el]=Εξομοιωτές
Name[eo]=Imitiloj
Name[es]=Emuladores
Name[et]=Emulaatorid
Name[fi]=Emulaattorit
Name[fr]=Émulateurs
Name[he]=םירוטלומא
Name[hu]=Emulátorok
Name[is]=Hermar
Name[it]=Emulatori
Name[ja]=エミュレータ
Name[ko]=흉내장이
Name[lt]=Emuliatoriai
Name[lv]=Emulatori
Name[mt]=Emulaturi
Name[nl]=Emulatoren
Name[no]=Emulatorer
Name[no_NY]=Emulatorar
Name[pl]=Emulatory
Name[pt_BR]=Emuladores
Name[pt]=Emuladores
Name[ro]=Emulatoare
Name[ru]=Эмуляторы
Name[sk]=Emulátory
Name[sl]=Emulatorji
Name[sr]=Emulatori
Name[sv]=Emulatorer
Name[th]=ตัวจำลองการทำงาน
Name[tr]=Öyküncüler
Name[uk]=Емулятори
Name[vi]=Emulators 
Name[wa]=Emulateus
Name[xh]=Abazami bolinganiso
Name[zh_CN.GB2312]=模拟器
Name[zh_TW.Big5]=模擬器
Icon=deb

