[Desktop Entry]
Name=Debian Help
Name[az]=Debian Kömək
Name[bg]=Помощ за Debian
Name[br]=Skoazell Debian
Name[cs]=Nápověda Debianu
Name[da]=Debian hjælp
Name[de]=Debian-Hilfe
Name[el]=Βοήθεια Debian
Name[eo]=Debian-helpo
Name[es]=Ayuda de Debian
Name[et]=Debiani abifailid
Name[fi]=Debian ohje
Name[fr]=Aide Debian
Name[he]=ןאיבד לש הרזע
Name[hu]=Debian segítség
Name[is]=Debian hjálp
Name[it]=Guida debian
Name[ja]=Debian ヘルプ
Name[ko]=데비안 도움말
Name[lt]=Debian pagalba
Name[lv]=Debian Palīdzība
Name[mt]=Ghajnuna Debian
Name[no]=Hjelp for Debian
Name[no_NY]=Debian-hjelp
Name[pl]=Pomoc Debiana
Name[pt_BR]=Ajuda do Debian
Name[pt]=Ajuda do Debian
Name[ro]=Ajutor Debian
Name[sk]=Pomocník Debian
Name[sl]=Pomoč za Debian
Name[sr]=Pomoć za Debian
Name[sv]=Debian hjälp
Name[ta]=§¼À¢Âý ¯¾Å¢
Name[th]=ระบบช่วยเหลือ Debian
Name[tr]=Debian Yardımı
Name[uk]=Довідка Debian
Name[vi]=Trợ giúp Debian 
Name[wa]=Aidance di Debian
Name[xh]=Uncedo lwe Debian
Name[zh_CN.GB2312]=Debian 帮助
Name[zh_TW.Big5]=Debian求助
Icon=deb

