[Desktop Entry]
Name=Lock
Name[az]=Qıfıl
Name[bg]=Заключване
Name[cs]=Zámek
Name[da]=Lås
Name[de]=Sperren
Name[eo]=Ŝloso
Name[es]=Bloqueo
Name[et]=Lukustamine
Name[fi]=Lukitse
Name[fr]=Verrouillage
Name[he]=הליענ
Name[hu]=Zárolás
Name[is]=Lás
Name[it]=Blocca
Name[ja]=ロック
Name[ko]=잠그기
Name[lt]=Užrakinti
Name[lv]=Slēgt
Name[mt]=Sakkar
Name[nl]=Afsluiten
Name[no]=Lås
Name[no_NY]=Lås
Name[pl]=Blokada
Name[ro]=Blocare
Name[ru]=Замок
Name[sk]=Zámok
Name[sl]=Zakleni
Name[sr]=Brava
Name[sv]=Lås
Name[ta]=âðÎ
Name[th]=ล็อค
Name[tr]=Kilit
Name[uk]=Замкнути
Name[vi]=Khoá 
Name[xh]=Ukutshixa
Name[zh_CN.GB2312]=锁
Name[zh_TW.Big5]=鎖住
Icon=lock

