[Desktop Entry]
Name=Math
Name[az]=Riyazyyat
Name[bg]=Математика
Name[cs]=Matematika
Name[da]=Mat
Name[de]=Mathematik
Name[el]=Μαθηματικά
Name[eo]=Matematiko
Name[es]=Matemáticas
Name[et]=Matemaatika
Name[fi]=Matematiikka
Name[fr]=Mathématiques
Name[he]=הקיטמתמ
Name[hu]=Matematikai programok
Name[is]=Stærðfræði
Name[it]=Matematica
Name[ja]=数学
Name[ko]=수학
Name[lt]=Matematika
Name[mt]=Matematika
Name[nl]=Wiskunde
Name[no]=Matematikk
Name[no_NY]=Matte
Name[pl]=Matematyka
Name[pt_BR]=Matemática
Name[pt]=Matemática
Name[ro]=Matematică
Name[ru]=Математика
Name[sk]=Matematika
Name[sl]=Matematika
Name[sr]=Matematika
Name[sv]=Matematik
Name[ta]=¸½¢¾õ
Name[th]=คณิตศาสตร์
Name[tr]=Matematik
Name[vi]=Toán 
Name[zh_CN.GB2312]=数学
Name[zh_TW.Big5]=數學
Icon=sqrt

