[Desktop Entry]
Name=Modules
Name[az]=Modullar
Name[bg]=Модули
Name[cs]=Moduly
Name[da]=Moduler
Name[de]=Module
Name[el]=Αρθρώματα
Name[eo]=Moduloj
Name[es]=Módulos
Name[et]=Moodulid
Name[fi]=Modulit
Name[he]=םילודומ
Name[hu]=Modulok
Name[is]=Einingar
Name[it]=Moduli
Name[ja]=モジュール
Name[ko]=모듈
Name[lt]=Moduliai
Name[lv]=Moduļi
Name[mt]=Moduli
Name[no]=Moduler
Name[no_NY]=Modular
Name[pl]=Moduły
Name[pt_BR]=Módulos
Name[pt]=Módulos
Name[ro]=Module
Name[ru]=Модули
Name[sk]=Moduly
Name[sl]=Moduli
Name[sr]=Moduli
Name[sv]=Moduler
Name[ta]=ÜÚ¸û
Name[th]=โมดูล
Name[tr]=Modüller
Name[uk]=Модулі
Name[vi]=Mô-đun 
Name[xh]=Iminqongo esezantsi yokulinganisela
Name[zh_CN.GB2312]=模块
Name[zh_TW.Big5]=模組
Icon=goto

