[Desktop Entry]
Name=Puzzles
Name[az]=Pazzllar
Name[bg]=Загадки
Name[cs]=Hlavolamy
Name[da]=Puslespil
Name[el]=Παζλ
Name[eo]=Enigmoj
Name[es]=Rompecabezas
Name[et]=Puzzled
Name[fi]=Palapelit
Name[he]=םיפרצת
Name[hu]=Logikai
Name[is]=Pússlur
Name[it]=Puzzle
Name[ja]=パズル
Name[ko]=퍼즐
Name[lt]=Mįslės
Name[lv]=Puzļi
Name[mt]=Taħbil il-Moħħ
Name[nl]=Puzzels
Name[no]=Puslespill
Name[no_NY]=Hovudbrot
Name[pl]=Układanki
Name[pt_BR]=Quebra-cabeças
Name[ru]=Загадки
Name[sk]=Hádanky
Name[sl]=Sestavljanke
Name[sr]=Slagalice
Name[sv]=Pussel
Name[ta]=Ò¾¢÷¸û
Name[th]=พัซเซิล
Name[tr]=Bulmacalar
Name[uk]=Головоломки
Name[vi]=Câu đềE
Name[xh]=Imibuzo enzima/iingxaki
Name[zh_CN.GB2312]=难题
Name[zh_TW.Big5]=字謎
Icon=package_games

