[Desktop Entry]
Name=Root-window
Name[az]=Kök pəncərəsi
Name[bg]=Root прозорец
Name[cs]=Kořenové okno
Name[da]=Rod-vindue
Name[de]=Basisfenster
Name[eo]=Radika fenestro
Name[es]=Ventana raíz
Name[et]=Root aken
Name[fi]=Juuri-ikkuna
Name[fr]=Fenêtre racine
Name[he]=שרוש ןולח
Name[hu]=Gyökérablak
Name[is]=Rótargluggi
Name[it]=Finestra root
Name[ja]=ルートウィンドウ
Name[ko]=뿌리-창
Name[lt]=Pagrindinis langas
Name[lv]=Saknes-logs
Name[nl]=Hoofdvenster
Name[no]=Topp-vindu
Name[no_NY]=Rotvindauge
Name[pl]=Okno główne
Name[pt_BR]=Janela principal
Name[pt]=Janela principal
Name[ro]=Fereastră rădăcină
Name[ru]=Корневое окно
Name[sk]=Root okno
Name[sl]=Korensko okno
Name[sv]=Rotfönster
Name[ta]=§Å÷î º¡ÇÃõ
Name[th]=หน้าต่างราก
Name[tr]=Kök-pencere
Name[uk]=Головне вікно
Name[vi]=Cửa sềERoot 
Name[xh]=Ingcambu-window
Name[zh_CN.GB2312]=根窗口
Name[zh_TW.Big5]=根視窗
Icon=window_fullscreen

