[Desktop Entry]
Name=Save
Name[az]=Qeyd Et
Name[bg]=Запазване
Name[cs]=Uložit
Name[da]=Gem
Name[de]=Speichern
Name[el]=Αποθήκευση
Name[eo]=Sekurigo
Name[es]=Guardar
Name[et]=Salvesta
Name[fi]=Tallenna
Name[fr]=Enregistrement
Name[he]=רומש
Name[hu]=Mentés
Name[is]=Vista
Name[it]=Salva
Name[ja]=保存
Name[ko]=저장
Name[lt]=Išsaugoti
Name[lv]=Saglabāt
Name[mt]=Ikteb
Name[nl]=Opslaan
Name[no]=Lagre
Name[no_NY]=Lagra
Name[pl]=Zapisz
Name[pt_BR]=Salvar
Name[pt]=Gravar
Name[ro]=Salvează
Name[sk]=Uložiť
Name[sl]=Shrani
Name[sr]=Sačuvaj
Name[sv]=Spara
Name[ta]=§ºÁ¢
Name[th]=บันทึก
Name[tr]=Kaydet
Name[uk]=Зберегти
Name[vi]=Sao luư 
Name[wa]=Schaper
Name[xh]=Gcina
Name[zh_CN.GB2312]=保存
Name[zh_TW.Big5]=存檔
Icon=filesave

