[Desktop Entry]
Name=Shells
Name[az]=Qabıqlar
Name[cs]=Shelly
Name[da]=Skaller
Name[el]=Φλοιοί
Name[eo]=Komandinterpretiloj
Name[es]=Intérpretes de comandos
Name[et]=Shellid
Name[fi]=Komentotulkit
Name[he]=תפטעמ
Name[hu]=Parancsértelmezők
Name[is]=Skeljar
Name[it]=Shell
Name[ja]=シェル
Name[ko]=셀
Name[lt]=Apvalkalai
Name[lv]=Čaulas
Name[nl]=Shellen
Name[no]=Skall
Name[no_NY]=Skal
Name[pl]=Powłoki
Name[pt]=Linhas de comandos
Name[ro]=Interpretoare
Name[sk]=Shelly
Name[sl]=Lupine
Name[sv]=Skal
Name[ta]=µÎ¸û
Name[th]=เชลล์
Name[tr]=Kabuklar
Name[uk]=Оболонки
Name[vi]=Shells 
Name[xh]=Amaqokombe
Name[zh_TW.Big5]=Shell
Icon=shellscript

