[Desktop Entry]
Name=Sports
Name[az]=İdman
Name[bg]=Спортове
Name[cs]=Sportovní
Name[da]=Sport
Name[de]=Sport
Name[el]=Σπορ
Name[eo]=Sporto
Name[es]=Deportes
Name[et]=Sport
Name[fi]=Urheilu
Name[he]=טרופס
Name[hu]=Sport
Name[is]=Íþróttir
Name[it]=Sport
Name[ja]=スポーツ
Name[ko]=스포츠
Name[lt]=Sportas
Name[mt]=Sport
Name[nl]=Sport
Name[no]=Sport
Name[no_NY]=Sport
Name[pl]=Sporty
Name[pt_BR]=Esportes
Name[pt]=Desportos
Name[ro]=Sport
Name[sk]=Športy
Name[sl]=Športi
Name[sr]=Sportovi
Name[sv]=Sport
Name[ta]=¬ð¼í¸û
Name[th]=เกมกีฬา
Name[tr]=Sporlar
Name[uk]=Спорт
Name[vi]=ThềEthao 
Name[xh]=Imidlalo
Name[zh_CN.GB2312]=运动
Name[zh_TW.Big5]=運動
Icon=package_games

