[Desktop Entry]
Name=Text
Name[az]=Mətn
Name[bg]=Teкст
Name[cs]=Textové
Name[da]=Tekst
Name[el]=Κείμενο
Name[eo]=Teksto
Name[es]=Texto
Name[et]=Tekst
Name[fi]=Teksti
Name[fr]=Texte
Name[he]=טסקט
Name[hu]=Szöveges
Name[is]=Textatól
Name[it]=Testo
Name[ja]=テキスト
Name[ko]=글월
Name[lt]=Tekstas
Name[lv]=Teksts
Name[mt]=Kliem
Name[nl]=Tekst
Name[no]=Tekst
Name[no_NY]=Tekst
Name[pl]=Tekstowe
Name[pt_BR]=Texto
Name[pt]=Texto
Name[sk]=Textové
Name[sl]=Besedilo
Name[sr]=Tekst
Name[ta]=¯¨Ã
Name[th]=ข้อความ
Name[tr]=Metin
Name[uk]=Текст
Name[vi]=Text 
Name[wa]=Tecse
Name[xh]=Okubhaliweyo
Name[zh_CN.GB2312]=文字
Name[zh_TW.Big5]=文字
Icon=deb

