[Desktop Entry]
Name=Technical
Name[az]=Texniki
Name[bg]=Технически
Name[cs]=Technické
Name[da]=Teknisk
Name[de]=Technisches
Name[el]=Τεχνικά
Name[eo]=Teknikaĵoj
Name[es]=Técnico
Name[et]=Tehniline
Name[fr]=Technique
Name[hu]=Technikai
Name[is]=Tæknilegt
Name[it]=Tecnico
Name[ja]=テクニカル
Name[ko]=기술
Name[lt]=Technika
Name[lv]=Tehnisks
Name[mt]=Tekniku
Name[nl]=Technisch
Name[no]=Teknisk
Name[no_NY]=Teknisk
Name[pl]=Techniczny
Name[pt_BR]=Técnico
Name[pt]=Técnico
Name[ro]=Tehnic
Name[sk]=Technické
Name[sl]=Tehnično
Name[sv]=Teknik
Name[ta]=¦¾¡Æ¢øÑðÀ
Name[th]=ด้านเทคนิค
Name[tr]=Teknik
Name[uk]=Техніка
Name[vi]=Kĩ thuật 
Name[wa]=Tecnike
Name[xh]=Enzima kakhulu
Name[zh_CN.GB2312]=工艺
Name[zh_TW.Big5]=工業的
Icon=deb

