[Desktop Entry]
Name=Viewers
Name[az]=Nümayişçilər
Name[bg]=Прегледи
Name[cs]=Prohlížeče
Name[da]=Fremvisere
Name[de]=Betrachter
Name[el]=Προβολείς
Name[eo]=Rigardiloj
Name[es]=Visores
Name[et]=Näitajad
Name[fi]=Näyttäjät
Name[fr]=Afficheurs
Name[he]=םיגיצמ
Name[hu]=Nézegetőprogramok
Name[is]=Skoðarar
Name[it]=Visualizzatori
Name[ja]=ビューア
Name[ko]=보기
Name[lt]=Žiūrikliai
Name[lv]=Skatītāji
Name[mt]=Werreja
Name[nl]=Weergevers
Name[no]=Iakttagere
Name[no_NY]=Framvisarar
Name[pl]=Przeglądarki
Name[pt_BR]=Visualizadores
Name[pt]=Visualizadores
Name[ro]=Vizualizatoare
Name[ru]=Просмотрщики
Name[sk]=Prehliadače
Name[sl]=Prikazovalniki
Name[sr]=Prikazivači
Name[sv]=Visare
Name[ta]=¸¡ðÊ¸û
Name[th]=แสดง
Name[tr]=Görüntüleyiciler
Name[uk]=Переглядачі
Name[vi]=Trình đềExem 
Name[xh]=Ababoniseli
Name[zh_CN.GB2312]=查看器
Name[zh_TW.Big5]=觀看者
Icon=video

