[Desktop Entry]
Name=WindowManagers
Name[az]=Pəncərə İdarəçiləri
Name[bg]=Менаджери на прозорци
Name[cs]=Správci oken
Name[da]=Vindueshåndteringer
Name[de]=Windowmanager
Name[el]=Διαχειριστές Παραθύρων
Name[eo]=Fenestroadministriloj
Name[es]=Administradores de ventanas
Name[et]=Aknahaldurid
Name[fi]=Ikkunamanagerit
Name[fr]=Gestionnaires de fenêtres
Name[he]=תונולח ילהנמ
Name[hu]=Ablakkezelők
Name[is]=Gluggastjórar
Name[it]=Window manager
Name[ja]=ウィンドウマネージャ
Name[ko]=창 관리자
Name[lt]=Langų tvarkyklės
Name[lv]=LoguMenedžeri
Name[nl]=Vensterbeheerders
Name[no]=Vindus-styrere
Name[no_NY]=Vindaugsbehandlarar
Name[pl]=Menedżery okien
Name[pt_BR]=Gerenciadores de Janelas
Name[pt]=Gestores de Janelas
Name[ro]=Managere de ferestre
Name[ru]=Оконные менеджеры
Name[sk]=Správcovia okien
Name[sl]=Okenski upravljalniki
Name[sv]=Fönsterhanterare
Name[ta]=º¡ÇÃ §ÁÄ¡Ç÷¸û
Name[th]=ระบบจัดการหน้าต่าง
Name[tr]=Pencere Yöneticiler
Name[uk]=Менеджери вікон
Name[vi]=Trình quản lí Windows 
Name[wa]=Manaedjeus di purneas
Name[xh]=Abaphathi be Window
Name[zh_CN.GB2312]=窗口管理器
Name[zh_TW.Big5]=視窗管理員
Icon=deb

