[Desktop Entry]
Name=XShells
Name[az]=XQabıq
Name[cs]=XShelly
Name[da]=XSkaller
Name[de]=X-Shells
Name[eo]=X-Komandinterpretiloj
Name[es]=Intérpretes de comandos en X
Name[et]=X shellid
Name[fi]=XKomentotulkit
Name[fr]=Shells graphiques
Name[he]=X תופטעמ
Name[hu]=X parancsértelmezők
Name[is]=X skeljar
Name[it]=Shell X
Name[ja]=Xシェル
Name[ko]=X용 셀
Name[lt]=X apvalkalai
Name[lv]=XČaulas
Name[nl]=XShellen
Name[no]=X-skall
Name[no_NY]=X-skal
Name[pl]=Powłoki X
Name[pt]=Linhas de comandos do X
Name[ro]=Interpretoare X
Name[sk]=XShelly
Name[sl]=Lupine v X
Name[sv]=X-skal
Name[ta]=X µÎ¸û
Name[th]=X เชลล์
Name[tr]=X Kabukları
Name[uk]=Оболонки X
Name[vi]=XShells 
Name[xh]=Amaqokombe e X
Name[zh_TW.Big5]=XShell
Icon=shellscript

