Source: kdebase
Build-Depends: automake (>= 1:1.4-p4-1.1), autoconf, libtool, bison, flex, gettext, debhelper (>> 3.0.0), xutils, xserver [!s390], libpam0g-dev | libpam-dev, kdelibs-dev (>= 4:2.2.2-1), xlibmesa-dev | libgl-dev, glutg3-dev, libxml2-dev (>= 2.4.8), lesstif-dev (>= 1:0.93.12-4), libcdparanoia0-dev, libldap2-dev, binutils-dev (>= 2.11.92.0.5-3), libogg-dev, libsasl-dev, libvorbis-dev
Build-Conflicts: nas-lib, kdelibs3-crypto
Section: x11
Priority: optional
Maintainer: Ivan E. Moore II <rkrusty@debian.org>
Standards-Version: 3.5.6

Package: kdebase
Architecture: any
Section: x11
Priority: optional
Replaces: ksysctrl, kdebase-crypto
Depends: ${shlibs:Depends}, debianutils (>= 1.6), xfree86-common, libpam-modules, kdewallpapers
Recommends: kdebase-doc, konqueror, konsole, kate | kedit | kword, kdebase-audiolibs, kscreensaver, usbutils
Suggests: menu (>=1.5-5), kdm | x-display-manager, kde-i18n, libpam-cracklib, xscreensaver, xscreensaver-gl, xearth, xplanet
Conflicts: suidmanager (<< 0.50), kdebase-crypto
Provides: x-session-manager
Description: KDE core applications
 This is a suite of all kde core applications :
 Includes:  kicker, kscreensaver, kwin, kdesktop and others...

Package: kdewallpapers
Architecture: all
Section: x11
Enhances: kdm
Description: Some wallpapers for KDE 
 The wallpapers that come with KDE, but can be used everywhere else
 as well

Package: kscreensaver
Architecture: any
Section: x11
Depends: ${shlibs:Depends}
Enhances: kdebase
Description: Screen savers for KDE
 This package contains all of the Screen Savers that are included in the
 kdebase distribution.

Package: kdm
Architecture: any
Section: x11
Priority: optional
Replaces: kdm-krb
Depends: ${shlibs:Depends}, libpam-modules, debconf, xutils (>= 4.0.1-0), xbase-clients, x-session-manager | x-window-manager
Suggests: menu (>=1.5-5), kdewallpapers, libpam-cracklib, libpam-krb5, libpam-heimdal
Provides: x-display-manager
Conflicts: kdm-krb
Description: The K Desktop Manager
 The K Desktop Manager
 .
 kdm manages a collection of X servers, which may be on the local host or
 remote machines.  It provides services similar to those provided by init,
 getty, and login on character-based terminals: prompting for login name and
 password, authenticating the user, and running a session.  kdm supports XDMCP
 (X Display Manager Control Protocol) and can also be used to run a chooser
 process which presents the user with a menu of possible hosts that offer
 XDMCP display management.

Package: konqueror
Architecture: any
Section: web
Depends: ${shlibs:Depends}, kdebase-libs (= ${Source-Version})
Recommends: kdebase-doc, kview, kate | kedit | kword
Suggests: java-virtual-machine, smbclient, klisa, konq-plugins
Provides: www-browser, ftp-client, gopher-client, info-browser, man-browser
Description: KDE's advanced File Manager, Web Browser and Document Viewer
 KDE's advanced File Manager, Web Browser and Document Viewer

Package: libkonq3
Architecture: any
Section: libs
Depends: ${shlibs:Depends}
Suggests: x-terminal-emulator
Description: Core libraries for KDE's file manager
 This library is used by several KDE 2 apps include konqueror and kdesktop

Package: libkonq-dev
Architecture: any
Section: devel
Depends: libkonq3 (= ${Source-Version}), kdelibs-dev
Description: Core libraries for KDE's file manager (development headers)
 This library is used by several KDE 2 apps include konqueror and kdesktop
 .
 This package contains development headers

Package: konsole
Architecture: any
Section: x11
Depends: ${shlibs:Depends}, kdebase-libs (>= ${Source-Version}), xfonts-base, xutils
Conflicts: suidmanager (<< 0.50) 
Provides: x-terminal-emulator
Description: X terminal emulation for KDE
 Konsole is an X terminal emulation which provides a command-line interface 
 (CLI) while using the graphical K Desktop Environment. Konsole helps to 
 better organize user's desktop by containing multiple sessions in a single 
 window (a less cluttered desktop). 
 .
 It's advanced features include a simple configuration and the ability to use 
 multiple terminal shells in a single window
 .
 Using Konsole, a user can open:
 .
  Linux console sessions
  Midnight Commander file manager sessions
  Shell sessions
  Root consoles sessions

Package: kdebase-libs
Architecture: any
Section: libs
Replaces: kdebase (<< 4:2.2.1-1)
Depends: ${shlibs:Depends}, ${perl:Depends}
Recommends: konqueror, kdebase-doc, kdebase-audiolibs
Suggests: kmail, anti-aliasing-howto
Conflicts: suidmanager (<< 0.50)
Description: KDE libraries and modules for kdebase
 This package contains the different interface modules and libraries
 provided by the kdebase package.  These includes interfaces to pop3, nntp
 and others. This package also contains kdesu.

Package: kdebase-audiolibs
Architecture: any
Section: libs
Replaces: kdebase (<< 4:2.2.1-1) 
Depends: ${shlibs:Depends}
Recommends: konqueror, kdebase-doc
Description: KDE audio libraries amd modules for kdebase
 This package contains the different audio interface modules and libraries
 provided by the kdebase package.  These includes interfaces to cdparanoia,
 and ogg/vorbis.

Package: kate
Architecture: any
Section: editors
Replaces: kdebase (<< 4:2.2.0-1)
Depends: ${shlibs:Depends}, kdebase-libs
Recommends: aspell | ispell
Suggests: kate-plugins
Description: text editor for KDE
 Kate is a fast text editor for the KDE destop with an Emacs-style document 
 interface.

Package: kdebase-doc
Architecture: all
Section: doc
Replaces: kde-i18n
Suggests: kdebase, htdig, konqueror
Description: Documentation for Applications in kdebase
 All the documentation for all the Applications in kdebase

Package: kdebase-dev
Architecture: any
Section: devel
Depends: kdebase (= ${Source-Version}), kdebase-libs (= ${Source-Version}), kdebase-audiolibs (= ${Source-Version}), kate (= ${Source-Version}), kdelibs-dev, libkonq-dev (= ${Source-Version})
Description: KDE core applications (development files)
 KDE core application development files
 You need these files to compile kde applications.
